## Implementación de a priori

## Dataset
El dataset escogido, es el de mis propias listas de super. La finalidad es la de predecir que productos pediré o tendré que pedir durante mi próximo super y de esta manera eficientizar mis compras de super

In [22]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option("max_rows", None)
from mlxtend.preprocessing import TransactionEncoder
import sys
import numpy as np
np.set_printoptions(threshold=sys.maxsize)

In [23]:
minimum_support = 0.3
transactions = [['parmesano', 'yoghurt', 'leche', 'milanesa', 'carne', 'aceite', 'pasta', 'tomate', 'cereal', 'zanahoria', 'papa', 'cerveza'],
                ['arroz', 'chilorio', 'frijoles', 'parmesano', 'cereal', 'jugo', 'durazno', 'pasta', 'tomate', 'carne', 'uva', 'yoghurt', 'harina', 'miel', 'milanesa', 'insecticida'],
                ['huevo', 'leche', 'parmesano', 'milanesa', 'oregano', 'carne', 'limon', 'jugo', 'salchicha', 'bicarbonato', 'azucar', 'cocoa', 'cacao', 'cereal', 'palomitas', 'esponja', 'avellana', 'tostadas', 'mango', 'manzana', 'levadura', 'sacapuntas'],
                ['refresco', 'agua', 'servilletas', 'pinzas', 'leche', 'crema', 'cafe', 'colador', 'huevo', 'azucar', 'yoghurt', 'vainilla', 'chispas', 'lavatrastes', 'harina', 'hisopos', 'pure', 'canela'],
                ['leche', 'pasta', 'tomate', 'refresco', 'pimienta', 'servilletas', 'milanesa', 'cilantro', 'jugo', 'pepino', 'cebolla', 'pan', 'tomillo', 'mejorana', 'caldo', 'arroz', 'papa', 'cereal', 'yoghurt', 'palillos', 'mozarella', 'jabon', 'carne'],
                ['huevo', 'leche', 'refresco', 'parmesano', 'silicon', 'jugo', 'cafe'],
                ['leche', 'parmesano', 'cereal', 'pan', 'zanahoria', 'chayote', 'papa', 'crema', 'bbq', 'limon', 'manzana'],
                ['leche', 'jamon', 'tomate', 'totopos', 'asadero', 'galletas', 'pasta', 'refresco'],
                ['huevo', 'mantequilla', 'pasta', 'jugo', 'leche', 'parmesano', 'refresco', 'manzana', 'servilletas', 'cereal', 'hisopos'],
                ['tomate', 'pasta', 'pan', 'leche', 'zanahoria', 'papa', 'chayote', 'chilorio', 'frijoles', 'milanesa', 'carne', 'aceite', 'yoghurt']]

In [24]:
from mlxtend.frequent_patterns import apriori

In [25]:
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,aceite,agua,arroz,asadero,avellana,azucar,bbq,bicarbonato,cacao,cafe,...,servilletas,silicon,tomate,tomillo,tostadas,totopos,uva,vainilla,yoghurt,zanahoria
0,True,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,True
1,False,False,True,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,False,True,False
2,False,False,False,False,True,True,False,True,True,False,...,False,False,False,False,True,False,False,False,False,False
3,False,True,False,False,False,True,False,False,False,True,...,True,False,False,False,False,False,False,True,True,False
4,False,False,True,False,False,False,False,False,False,False,...,True,False,True,True,False,False,False,False,True,False
5,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
7,False,False,False,True,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
9,True,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,True

In [26]:
frequent_itemsets = apriori(df, min_support=minimum_support, use_colnames=True)
frequent_itemsets['iteracion'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
np.set_printoptions(threshold=np.inf)
frequent_itemsets

     support                                           itemsets  iteracion
0        0.5                                            (carne)          1
1        0.6                                           (cereal)          1
2        0.4                                            (huevo)          1
3        0.5                                             (jugo)          1
4        0.9                                            (leche)          1
..       ...                                                ...        ...
224      0.3   (pasta, tomate, yoghurt, milanesa, leche, carne)          6
225      0.3       (pasta, papa, tomate, yoghurt, leche, carne)          6
226      0.3    (pasta, papa, tomate, yoghurt, milanesa, carne)          6
227      0.3    (pasta, papa, tomate, yoghurt, milanesa, leche)          6
228      0.3  (pasta, papa, tomate, yoghurt, milanesa, leche...          7

[229 rows x 3 columns]