## Implementaci√≥n de a priori

In [7]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

## Dataset
El dataset escogido, es el de

In [2]:
minimum_support = 0.3
transactions = [['milk', 'bread', 'eggs'],
                ['milk', 'juice'],
                ['juice', 'butter'],
                ['milk', 'bread', 'eggs'],
                ['coffe', 'eggs'],
                ['coffe'],
                ['coffe', 'juice'],
                ['milk', 'bread', 'cookies', 'eggs'],
                ['cookies', 'butter'],
                ['milk', 'bread']]

In [3]:
from mlxtend.frequent_patterns import apriori

In [4]:
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   bread  butter  coffe  cookies   eggs  juice   milk
0   True   False  False    False   True  False   True
1  False   False  False    False  False   True   True
2  False    True  False    False  False   True  False
3   True   False  False    False   True  False   True
4  False   False   True    False   True  False  False
5  False   False   True    False  False  False  False
6  False   False   True    False  False   True  False
7   True   False  False     True   True  False   True
8  False    True  False     True  False  False  False
9   True   False  False    False  False  False   True

In [5]:
frequent_itemsets = apriori(df, min_support=minimum_support, use_colnames=True)
frequent_itemsets['iteracion'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

   support             itemsets  iteracion
0      0.4              (bread)          1
1      0.3              (coffe)          1
2      0.4               (eggs)          1
3      0.3              (juice)          1
4      0.5               (milk)          1
5      0.3        (bread, eggs)          2
6      0.4        (bread, milk)          2
7      0.3         (eggs, milk)          2
8      0.3  (bread, eggs, milk)          3